
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form action="{:U('ClassCate/add')}" method="post" class="form form-horizontal" id="form-article-add">
		 <div class="row cl">
			<label class="form-label col-xs-5 col-sm-3">一级分类：</label>
			<div class="formControls col-xs-7 col-sm-8">
				<span class="select-box">
					<select id="cate_1" name="cate_1" class="select">
						<option value="0">无</option>
						<foreach name="cate_1" item="v">
							<option value="{$v.cate_id}">{$v.name}</option>
						</foreach>
					 </select>
				</span>
			</div>
		</div>
		<div class="row cl" id="second" style="display: none">
			<label class="form-label col-xs-5 col-sm-3">二级分类：</label>
			<div class="formControls col-xs-7 col-sm-8">
				<span class="select-box">
					<select id="cate_2" name="cate_2" class="select">
						<option>无</option>
					 </select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-5 col-sm-3">分类名称：</label>
			<div class="formControls col-xs-7 col-sm-8">
				<input type="text" class="input-text" value="" placeholder="分类名称" id="" name="name">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-6 col-sm-3 col-xs-offset-7 col-sm-offset-8">
				<!--<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>-->
				<button  class="btn btn-secondary radius" type="submit">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
		
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    $("#cate_1").change(function(){
        var id=$(this).val();
		$('#second').css('display','block');
		if (id == 0){
            $('#second').css('display','none');
		}
        $.ajax({
            type: "post",
            url: "{:U('ClassCate/get_cate2')}",
            data: {id: id},
            dataType: "text",
            success: function (e) {
                $('#cate_2').html(e);
                console.log(e);
            }
        });
    });
</script>
</body>
</html>