
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<title>apk管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> apk管理 <span class="c-gray en">&gt;</span> apk <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c" style="padding: 20px;">
		<form class="Huiform" method="post" action="{:U('Apk/showlist')}" target="_self">			
			<input type="text" placeholder="请输入版本号" name="txtName" class="input-text" style="width:200px">			
			<input type="submit" value="查询" class="btn btn-success" style="margin:0px 0px 2px 20px;">
			 <if condition="strpos($res,'41') !== false"> 
			<button type="button" class="btn btn-success Hui-iconfont"  onclick="permissions_add('新增版本','{:U('Apk/add')}','4','','510')" style="text-decoration:none">新增apk</button>
			<button type="button" class="btn btn-success Hui-iconfont"  onclick="permissions_adddown('新增版本','{:U('Apk/adddown')}','4','','510')" style="text-decoration:none">新增downurl</button>
			</if>
		</form>		
	</div>
	
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th>版本编号</th>
					<th>版本号名称</th>
					<th>下载地址</th>
					<th>是否强制更新</th>
					<th>代码版本号</th>
					<th>版本大小</th>					
					<th>时间</th>
					<th>操作</th>					
				</tr>
			</thead>
			<tbody>
				<foreach name="info" item="v">
				<tr class="text-c">					
					<td>{$v.apk_id}</td>
					<td>{$v.version}</td>
			     	<td>{$v.download}</td>
			     	<td>{$v[status]>0?'是':'否'}</td>
			     	<td>{$v.versioncode}</td>
			     	<td>{$v.versionsize}</td>
			     	<td>{$v.time}</td>
			     	
			     	
					<td class="td-manage"> 
					<!-- <if condition="strpos($res,'41') heq false"> 没有权限
						</if>
						
					<in name="v.pid" value="无">
					<if condition="strpos($res,'41') !== false"> 	
									<a title="编辑" href="javascript:;" 
						onclick="administrator_edit('编辑','{:U('Authorityname/updparent',array('id'=>$v['auth_id']))}','4','','510')" 
						style="text-decoration:none">
						<button class="Hui-iconfont" style="padding: 3px 5px;">编辑父类权限</button>
					</a> 
					</if>
					<else/>
					<if condition="strpos($res,'41') !== false"> 	
						<a title="编辑" href="javascript:;" 
						onclick="administrator_edit('编辑','{:U('Authorityname/upd',array('id'=>$v['auth_id']))}','4','','510')" 
						style="text-decoration:none">
						<button class="Hui-iconfont" style="padding: 3px 5px;">编辑子类权限</button>
					</a> 
					</if>
					</in>-->
					<if condition="strpos($res,'36') !== false"> 								
					<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.apk_id}')" class="ml-5" style="text-decoration:none">
						<button class="Hui-iconfont" style="padding: 3px 5px;">删除</button>
					</a>
					</if>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>  
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		//"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"ordering":false,
		"aLengthMenu": [10],//设置每页显示数据条数
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  //{"orderable":false,"aTargets":[2,3,4,5,6,]}// 制定列不参与排序
		],
		"searching": false,//搜索功能
		"bLengthChange":false,//关闭选择每页显示条数功能
	});

});


/*新增*/
function permissions_add(title,url,id,w,h){
	layer_show(title,url,w,h);
}
function permissions_adddown(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*编辑*/
function administrator_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '__MODULE__/apk/del',
			data: {id:id},
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>