<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>关于我们</title>
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
	</head>

	<body class="bg-f8">
			<div class="c-r-b">
						<foreach name="list" item="v">
						<p class="crb-t">{$v.title}</p>
						<div class="crb-d">
							<p>{$v.introduce}</p>
						</div>
						</foreach>
					</div>
	</body>