<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
   
<title>消息推送</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 消息管理 <span class="c-gray en">&gt;</span> 消息推送<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c" style="padding: 20px;">
		<form class="Huiform" method="post" action="" target="_self">			
			<input type="text" placeholder="请输入标题" value="" id="serchWord" class="input-text" style="width:200px">		
			<button type="button" class="btn btn-success" id="" name="" onClick="picture_colume_add(this);"style="margin:0px 0px 2px 20px;"> 查询</button>

			<button type="button" class="btn btn-success Hui-iconfont"  onclick="newsp_add('新增','{:U('Notice/dataAddXiaoxi')}','4','','300')" style="text-decoration:none">新增</button>

		</form>		
	</div>
	
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="80px">排序</th>
					<th width="200px">标题</th>
					<th>内容</th>
					<th width="80px">类型</th>
					<th width="150px">创建时间</th>
					<th width="350px">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="dataListArray" item="model">
					<tr class="text-c">	
						<td>{$model.news_id}</td>	
						<td>{$model.title}</td>	
						<td>{$model.content}</td>
						<td class="td-status">
		                    <eq name="model.type" value="0">
		                        <span class="label label-success radius" >系统</span>
		                    </eq>
		                    <eq name="model.type" value="1">
		                        <span class="label label-success radius" >个人</span>
		                    </eq>
		                    <eq name="model.type" value="2">
		                        <span class="label label-success radius" >交易</span>
		                    </eq>

		                </td>
						<td>{$model.time|date="Y-m-d H:i:s",###}</td>
						<td class="td-manage">	


						<eq name="model.tuisong" value='0'>
							<a title="推送"  onclick="tuisong(this,'{$model.news_id}')" href="javascript:;" class="ml-5" style="text-decoration:none"> 
							<!-- <a title="推送"  href="{:U('dataTuiXiaoxi?id='.$model['news_id'])}" class="ml-5" style="text-decoration:none">  -->
								<button class="Hui-iconfont" style="padding: 3px 5px;">推送</button>
							</a>
							</eq>


							<eq name="model.tuisong" value='1'>
							<a title="推送"  onclick="qutuisong(this,'{$model.news_id}')" href="javascript:;" class="ml-5" style="text-decoration:none">
							<button class="Hui-iconfont" style="padding: 3px 5px;">取消推送</button></a>
							</eq>


							<a title="编辑" href="javascript:;" onclick="bannerm_edit('编辑','{:U('Notice/dataEditXiaoxi',array('id'=>$model['news_id']))}','4','800','500')" style="text-decoration:none">
								<button class="Hui-iconfont" style="padding: 3px 5px;">编辑</button>
							</a> 						
							<a title="删除" href="javascript:;" onclick="member_del(this,'{$model.news_id}')" class="ml-5" style="text-decoration:none">
								<button class="Hui-iconfont" style="padding: 3px 5px;">删除</button>
							</a>

						</td>
					</tr>		
				</foreach>
			</tbody>
		</table>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>  
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		//"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		 "ordering"  :false,
		 "aLengthMenu": [10],//设置每页显示数据条数
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  //{"orderable":false,"aTargets":[2,3,4,5,6,7]}// 制定列不参与排序
		],
		"searching": true,//搜索功能
		"bLengthChange":true,//关闭选择每页显示条数功能
	});

});


/*新增*/
function newsp_add(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*编辑*/
function bannerm_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			data:{id:id},
			type: 'POST',
			url: "{:U('Notice/dataDelXiaoxi')}",
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
//推送
function tuisong(obj,id){
	//alert(id);
	/*layer.confirm('确认要推送吗？',function(index){
		$.ajax({
			data:{id:id},
			type: 'POST',
			url: "{:U('Notice/dataTuiXiaoxi')}",
			dataType: 'json',
			success: function(data){
				//$(obj).parents("tr").append();
				//layer.msg('已推送!',{icon:1,time:1000});
				location.reload();
			},
			error:function(data) {
				//alert(id);
				console.log(data.msg);
			},
		});		
	});*/
	 $.post("{:U('Notice/dataTuiXiaoxiios')}",{'id':id},function(data){
	 	//console.log(data)
	 	//alert(data);
           /* if(data=1){
                alert('推送成功');
                window.location.href="{:U('Notice/showListXiaoxi')}";
            }else{
                alert('推送失败');
                window.location.href="{:U('Notice/showListXiaoxi')}";
            }*/
            var firstIndex = data.indexOf("{");
            var lastIndex = data.lastIndexOf("}");
            var jsonStr = data.substring(firstIndex,lastIndex+1);
            var jsonObj = eval("("+jsonStr+")");
            if(jsonObj.ret=='SUCCESS'){
                    alert('推送成功');
                window.location.href="{:U('Notice/showListXiaoxi')}";
                }else{
                  alert('推送失败');
                window.location.href="{:U('Notice/showListXiaoxi')}";
                }
       });
	 $.post("{:U('Notice/dataTuiXiaoxiandroid')}",{'id':id},function(data){
	 	//console.log(data)
	 	//alert(data);
           /* if(data=1){
                alert('推送成功');
                window.location.href="{:U('Notice/showListXiaoxi')}";
            }else{
                alert('推送失败');
                window.location.href="{:U('Notice/showListXiaoxi')}";
            }*/
            var firstIndex = data.indexOf("{");
            var lastIndex = data.lastIndexOf("}");
            var jsonStr = data.substring(firstIndex,lastIndex+1);
            var jsonObj = eval("("+jsonStr+")");
            if(jsonObj.ret=='SUCCESS'){
                    alert('推送成功');
                window.location.href="{:U('Notice/showListXiaoxi')}";
                }else{
                  alert('推送失败');
                window.location.href="{:U('Notice/showListXiaoxi')}";
                }
       });
}
//取消推送
function qutuisong(obj,id){
	//alert(id);
	layer.confirm('确认要取消推送吗？',function(index){
		$.ajax({
			data:{id:id},
			type: 'POST',
			url: "{:U('Notice/quTuixiaoxi')}",
			dataType: 'json',
			success: function(data){
				//$(obj).parents("tr").append();
				//layer.msg('已推送!',{icon:1,time:1000});
				location.reload();
			},
			error:function(data) {
				//alert(id);
				console.log(data.msg);
			},
		});		
	});
}
//关键字搜索
function picture_colume_add(){
	window.location.href="{:U('Notice/showListXiaoxi')}/serchWord/"+$("#serchWord").val()
}
</script>
</body>
</html>