<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>测试页面</title>
    <link rel="stylesheet" href="__MODULE__/Public/Admin/css/uploadify.css">
    <script type="text/javascript" src="__MODULE__/Public/Admin/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__MODULE__/Public/Admin/js/jquery.uploadify.js"></script>

</head>
<body>
<div class="div_head">
            <span>
                <span style="float:left">当前位置是：教师资质审核管理-》教师资质信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="#">【返回】</a>
                </span>
            </span>
</div>
<div></div>

<div style="font-size: 13px;margin: 10px 5px">

    <form action="__MODULE__/Prove/add" method="post" enctype="multipart/form-data" >
        <table border="1" width="100%" class="table_a">
            <tr>
                <td>姓名</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>手机号</td>
                <td><input type="text" name="phone" /></td>
            </tr>
            <tr>
                <td>身份证号</td>
                <td><input type="text" name="cardnum" /></td>
            </tr>
            <tr>
                <td>身份证正面图片</td>
                <td><input type="file" name="photofront" /></td>
            </tr>
            <tr>
                <td>身份证反面图片</td>
                <td><input type="file" name="photoback" /></td>
            </tr>
            <tr>
                <td>身份证手持图片</td>
                <td><input type="file" name="photohold" /></td>
            </tr>
            <tr>
                <td>资质证明图片</td>
                <td><input type="file" name="photocertify" /></td>
            </tr>
            <tr>
                <td>课堂封面图片</td>
                <td><input type="file" name="classimg" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>