
<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/courses.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<title>课程</title>
	<style>
	#qian{
	font-size: 30px;
	color: #ff9933;
}
.course-right-two a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jiathis_style{
	position: absolute;
    top: -30px;
    width: 300px;
    left: -140px;
    display: none;
    position: absolute;
    top: -45px;
	}
	
	.comment-item {
				width: 100%;
				display: block;
				float: left;
				padding: 20px 0px;
				border-bottom: 1px solid #eee;
			}
			
			.item-left {
				width: 20%;
				float: left;
				text-align: center;
			}
			
			.item-left img {
				height: 60px;
				width: 60px;
				border-radius: 50%;
				margin-bottom: 5px;
			}
			
			.item-left p {
				font-size: 14px;
			}
			
			.item-center {
				width: 60%;
				float: left;
				text-align: left;
			}
			
			.item-center p {
				font-size: 14px;
				line-height: 22px;
				margin-top: 10px;
			}
			
			.item-right {
				text-align: center;
			}
			
			.item-right p {
				font-size: 12px;
				color: #999;
			}
			.cz{
				color: #ff9933;font-size: 30px;
			}
			.f3{
				color: #ff9933;
			}
			.gm{
				font-size: 12px;margin-left: 30px;color: #666;
			}
			.fenye{
	height:30px;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:10%;

}
.fenye div{
	width: 100%;
	text-align: right;
}
.fenye span{
	color: #fff;
	background-color: #00d3d4;
	border:1px solid #00d3d4;
	padding:5px 10px;
}
.fenye a{
	color:#bbb;
	padding:5px 10px;
}
.fenye a:hover{
	color: #fff;
	background-color: #00d3d4;
}
</style>
	</head>

	<body class="bg-f8">

		<!--导航开始-->
		<include file="Public/naodai" />
		
	
		<!--导航结束-->
		<div class="container">
			<!--顶部开始	-->
			<div class="course-topart">

				<div class="course-left">
					<img src="__ROOT__{$row.img}" id="introduce">
				</div>
				<div class="course-right">
					<div class="course-right-one">
						<div class="course-right-two">
							<a title="" class="fon_siz18" >{$row.name}</a>
							<a title="" class="fon_siz16">老师：{$row.uname}
							<if condition="$row.video_id neq null"><span style="font-size: 12px;margin-left: 30px;color: #666;">	<i class="iconfont" style="font-size: 12px;margin-left: 30px;margin-right: 5px;color: #666;" >&#xe63e;</i>{$row.number}人已购买</span></a>
							
							</if>
						</div>
					</div>
					
					<div class="icon " style="position: relative;">
					
						<i class="iconfont" style="font-size: 21px;" id="fenxiang">&#xe610;</i>
						<if condition="($id neq null) AND ($cang neq null)">
						<!-- <i class="iconfont  margin_l20" id="dianji" style="font-size: 21px;">&#xe6a1;</i> -->
						<i class="iconfont" id="xianshi" style="display:block;position:relative;z-index:999;font-size:21px;top:-30px;margin-left:40px;">&#xe600;</i>
						</if>
						<if condition="($id neq null) AND ($cang eq null)">
						<i class="iconfont  margin_l20" id="dianji" style="font-size: 21px;">&#xe6a1;</i>
						</if>
						<i class="iconfont" id="xianshi">&#xe600;</i>

						<div class="jiathis_style">
							<span class="jiathis_txt">分享到：</span>
							<a class="jiathis_button_qzone">QQ空间</a>
							<a class="jiathis_button_weixin">微信</a>
							<a class="jiathis_button_cqq">QQ好友</a>
							<!-- //<a class="jiathis_button_tools_4"></a> -->
							
						</div>
					
					</div>
					
						
					
					<div class="free">
					<eq name="row.money" value="0">
						<span>免费</span>
						<else/>
						<span id="qian">{$row.money}</span>
						</eq>
					</div>
					<if condition="$pid neq null">
					<div class="enrol">
						<a href="{:U('courses/baoming',array('pid'=>$pid))}" class="sign-up-im">
							<span class="sign-up-font">立即报名</span>
						</a>
					</div>
					<else/>
					<div class="enrol">
						<a href="{:U('courses/baoming',array('id'=>$id))}" class="sign-up-im">
							<span class="sign-up-font">立即报名</span>
						</a>
					</div>
					</if>
					<input type="hidden" value="{$id}" id="id">
					<input type="hidden" value="{$pid}" id="pid">
					<div class="timer">
						<span>开课时间:{$row.time|date='Y-m-d H:i:s',###}</span>
					</div>

					<img src="__PUBLIC__/Home/saibangzi/img/yibaoming.png" class="sign-up-img" />

				</div>
			</div>
			<!--顶部结束	-->
			
			<div class="margin_t30">
				<!--左边开始	-->
				<div class="col-xs-9 col-md-9 bg-white border-r6 bor padding0">
					<div class="tab">
						<ul class="tab-hd">
							<if condition="$id neq null">
							<li ><a href="{:U('courses/course?id='.$id)}" style="color:#666"><span>课程介绍</span></a></li>
							<li class="active"><a href="{:U('courses/videocourses?id='.$id)}"  style="color:#47C88A"><span>课程目录</span></a></li>
							<li><a href="{:U('courses/classcourses?id='.$id)}"  style="color:#666"><span>相关课程</span></a></li>
							
							<li><a href="{:U('courses/commentcourses?id='.$id)}"  style="color:#666"><span>课程评论</span></a></li>
							<else/>
							<li  ><a href="{:U('courses/course?pid='.$pid)}" style="color:#666"><span>课程介绍</span></a></li>
							<li class="active"><a href="{:U('courses/videocourses?pid='.$pid)}"  style="color:#47C88A"><span>课程目录</span></a></li>
							<li><a href="{:U('courses/classcourses?pid='.$pid)}"  style="color:#666"><span>相关课程</span></a></li>
							
							<!-- <li><a href="{:U('courses/commentcourses?pid='.$pid)}"  style="color:#666"><span>课程评论</span></a></li> -->
							</if>
						</ul>
						
						<ul class="tab-bd">
							<!-- <li class="thisclass" style="display:none">
								<div class="intr-section padding_t20">
									<div class="line-bor"></div>
									<span class="teacher-int">老师介绍</span>
								</div>
								<div class="intr-section">
									<div class="intr-section-l">
										<img src="__ROOT__{$row.image}" />
										<a href="{:U('student?id='.$row['user_id'])}">进入店铺</a>
									</div>
									
									<div class="intr-section-r">
										<span class="teacher-int">{$row.tname}</span>
										<span class="intro-int">
												{$row.profile}
										</span>
									</div>
								</div>
								<hr/>
								<div class="intr-section padding_t20">
									<div class="line-bor"></div>
									<span class="teacher-int">课程介绍</span>
								</div>
							
								<div class="intr-section">
									<div class="float_l">
										<span class="c-i">{$row.introduce}
										</span>
									</div>
								</div>
							</li> -->

							<li style="display:block">
								<div class="capter">
								<foreach name="shipin" item="x">
								<a href="{:U('courses/course?id='.$x['video_id'])}">
									<div class="section">
										<span class="f-f1" style="width:100px">{$x.name}</span>
										<span class="f-f2">{$x.introduce}</span>
										<a class="f-f3">
											<span>报名后请观看</span>
										</a>
										<span class="f-f4">
												<span class="f-time">{$x.time|date='i:s',###}</span>
										<span class="f-icon"><i class="iconfont">&#xe606;</i></span>
										</span>
									</div>
									</a>
									</foreach>
									
							</li>
							<div class="col-md-12-a  fenye" style="">{$show}</div>
							<!-- <li style="display:none">
								<div class="row margin0 a-cour">
								<foreach name="zhibo" item="z">
									<div class="col-xs-6 col-md-03 editin">
										<a class="thumbnail" href="{:U('courses/course?pid='.$z['liveb_id'])}">
											<div class="photo">
												<img src="__ROOT__{$z.img}">
											</div>
											<div class="caption">
												<p>{$z.name}</p>
							
											
												<eq name="z.money" value="0">
													<span class="subhead-titie">免费</span>
													<else/>
													<span class="subhead-titie">{$z.money}</span>
													</eq>
												<div class="pull-right">
													<span class="video-label-item label-color-0">直播</span>
												</div>
											</div>
										</a>
									</div>
								</foreach>	
								</div>
							</li> -->
							<!-- <if condition="($id neq null) AND ($star neq 0)">
												<li style="display:none">
													<div class="comment-item">
														
														<div  style="height: 100px;width: 400px;padding: 20px;margin-right: 30px;padding-left: 100px;">
														
															<div style="float: left;">
																<p style="color: #ff9933;">课程评分</p>
															</div>
															<div style="float: right;text-align: center;">
																<eq name="star" value="1">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">1.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																</eq>
																<eq name="star" value="2">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">2.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																</eq>
																<eq name="star" value="3">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">3.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																</eq>
																<eq name="star" value="4">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">4.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																</eq>
																<eq name="star" value="5">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">5.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																</eq>
																<if condition="$star gt 5">
																<p  style="font-size: 26px;line-height: 1px;color: #ff9933;">5.0</p>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																<i class="iconfont cz">&#xe6d6;</i>
																</if>
															</div>
														</div>
														</div>
														<foreach name="comment" item="v">
														<div class="comment-item">
														<div class="item-left">
															<img src="/Uploads/touxiang/2.png" />
															<p>{$v.name}</p>
														</div>
												
														<div class="item-center">
															<p>{$v.content}</p>
														</div>
												
														<div class="item-right">
															<div>
																<eq name="v.star" value="1">
																<i class="iconfont f3">&#xe6d6;</i>
																</eq>
																<eq name="v.star" value="2">
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																</eq>
																<eq name="v.star" value="3">
															
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																</eq>
																<eq name="v.star" value="4">
																
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																</eq>
																<eq name="v.star" value="5">
																
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																<i class="iconfont f3">&#xe6d6;</i>
																</eq>
																<p>{$v.time|date='Y-m-d',###}</p>
															</div>
														</div>
												
													</div>
													</foreach>
												</li>
												
												<else/>
												<li>
												<div  style="height: 100px;width: 370px;padding: 20px;margin-right: 30px;padding-left: 100px;">
														
																<p style="color:red;text-align: center;
																font-size: 30px">该课程还没有评论</p>
														
												</div>	
												</li>
												</if>			 -->					
						</ul>
					</div>
				</div>
				<!--左边结束	-->
				<!--右边开始	-->
				<div class=" col-md-3 float_r">
					<div class="row directory-rig">
						<div class="directory-rig-one">
							<span>在线观看只需简单三秒</span>
						</div>
						<div class="directory-rig-two">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_zaixian.png" />
							</div>
							<div class="two-right">
								<span>在线选课</span>
								<span class="course-inter">在平台选择自己感兴趣的课程</span>
							</div>
							<div class="border-line"></div>
						</div>
						
						<div class="directory-rig-two padding_t0">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_xiazai.png" />
							</div>
							<div class="two-right">
								<span>下载手机客户端或使用网页</span>
								<span class="course-inter">选课后请及时下载手机客户端或使用网页查看和回放，参与更多活动</span>
							</div>
							<div class="border-line"></div>
						</div>

						<div class="directory-rig-two padding_t0">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_shangke.png" />
							</div>
							<div class="two-right">
								<span>在线选课</span>
								<span class="course-inter">在平台选择自己感兴趣的课程</span>
							</div>
						</div>
					</div>
					<div class="row directory-rig margin_t30">
						<div class="directory-rig-one">
							<span>常见问题</span>
						</div>
						<div class="directory-rig-two">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_problem_1.png" />

							</div>
							<div class="two-right">
								<span>在线选课</span>
								<span class="course-inter">购颗支持支付宝、微信支付</span>
							</div>
							<div class="border-line"></div>
						</div>

						<div class="directory-rig-two padding_t0">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_problem_2.png" />

							</div>
							<div class="two-right">
								<span>上课要求</span>
								<span class="course-inter">为保证上课质量，建议在4M以上的wifi环境下，佩戴耳机上课质量更好</span>
							</div>
							<div class="border-line"></div>
						</div>

						<div class="directory-rig-two padding_t0">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_problem_3.png" />
							</div>
							<div class="two-right">
								<span>退费</span>
								<span class="course-inter">课程支付成功后不支持退课，退款</span>
							</div>
							<div class="border-line"></div>
						</div>

						<div class="directory-rig-two padding_t0">
							<div class="two-left">
								<img src="__PUBLIC__/Home/saibangzi/img/class_icon_problem_4.png" />
							</div>
							<div class="two-right">
								<span>遇到问题如何解决</span>
								<span class="course-inter">可直接拨打客服电话024-12345</span>
							</div>
						</div>
					</div>
				</div>
				<!--右边结束	-->
			</div>
		</div>
		<input type="hidden" value="{$row.name}" name="title">
		<input type="hidden" value="{$row.introduce}" name="desc">
		<input type="hidden" value="{$row.img}" name="img">
		<!-- 返回顶部开始 -->
		<div>
			<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)">1<div class="moquu_wxinh"></div></a></div>
			<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">2<div class="moquu_wshareh"></div></a></div>
			<a id="moquu_top" href="javascript:void(0)"></a>
		</div>
		
		<!--页脚开始-->
			<include file="Public/jiaoyazi" />
		<!--页脚结束-->

		<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/plugins/boostrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/courses.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
		<script>
$('.fenye .next').html('下一页');
$('.fenye .prev').html('上一页');
$(".first").html('首页');
$(".end").html('尾页');
		$("#dianji").click(function() {
					var display = $('#xianshi').css('display');
					var live=$('#pid').val();
					var video=$('#id').val();
					if (display == 'none') {
						$.post("{:U('courses/shoucang')}",{'live':live,'video':video},function(data){
							if(data=='收藏成功'){
								alert(data);
						$("#xianshi").css("display", "block");
						$("#dianji").css("color", "#f39232");}
						if(data=='您已经收藏该直播' || data=='您已经收藏该视频'){
							alert(data);
							 
						}
						if(data=='您尚未登录！请登录'){
							alert(data);
							 window.location.href="{:U('login/index')}";
						}

					});
					}
				})
		$('#outlogin').click(function(){
						var a=$('#session').val();
						$.post('{:U('Login/outlogin')}',{'session':a},function(data){
							if(data=='退出成功'){
							alert('退出登录！');window.location.href="{:U('index/index')}";}
						})
						
					})
			</script>
<script>
	var live=$('#pid').val();
	var video=$('#id').val();
	$.get("{:U('fenxiang')}",{url:window.location.href,'pid':live,'id':video},function(data) {
        var configData = {
        	debug: false,
        	appId: data["appId"],
        	timestamp: data["timestamp"],
        	nonceStr: data["nonceStr"],
        	signature: data["signature"],
        	jsApiList: data["jsApiList"]
        };
        console.log(data)
        wx.config(configData);
        wx.ready(function () {
			var title=data['kecheng']['name'];
			var desc=data['kecheng']['introduce'];
			var img=data['kecheng']['img'];
			// 在这里调用 API
		    wx.onMenuShareTimeline({  //例如分享到朋友圈的API 
			   	title: title, // 分享标题
			    link: data['url'], // 分享链接
			    imgUrl: img, // 分享图标
			    desc:desc,
			    success: function () {

			    },
			    cancel: function () {
			    // 用户取消分享后执行的回调函数
			    }
		    });

		    wx.onMenuShareAppMessage({
		    	title: title, // 分享标题
		    	desc: desc, // 分享描述
		    	link: data['url'], // 分享链接
		    	imgUrl: img, // 分享图标
		    	type: 'link', // 分享类型,music、video或link，不填默认为link
		    	dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			    success: function () {

			    },
			    cancel: function () {
			    // 用户取消分享后执行的回调函数
			    }
		   	});
		    wx.error(function (res) {
		    	alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
		    });
		});
	},
	"json"
   	);


</script>
<!-- JiaThis Button BEGIN -->

<script>
var name=$('.fon_siz24').text();
var desc=$('.c-i').text();
var link=window.location.href;
var img='http://www.wyuek.com'+$('#introduce').attr("src");
var jiathis_config = {
 url:link,
    title:name,
    summary:desc,
    pic:img,}
    </script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


<SCRIPT>

			$("#fenxiang").click(function() {
				   $(".jiathis_style").toggle();
			});
			

</SCRIPT>
	</body>

</html>
	