
<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/full-course.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<title>全部课程</title>
		<style>
			
			.fenye{
	height:30px;
	text-align:center;
	margin:0 auto;

}

.fenye div{
	margin:0 auto;
}
.fenye span{
	color: #fff;
	background-color: #00d3d4;
	border:1px solid #00d3d4;
	padding:5px 10px;
}
.fenye a{
	color:#bbb;
	padding:5px 10px;
}
.fenye a:hover{
	color: #fff;
	background-color: #00d3d4;
}
.actives{
	background-color: #47C88A;
    border-radius: 16px;
    color: #fff !important;
    padding: 6px 20px ;
    color: #fff !important;
}
		</style>
	</head>

	<body class="bg-f8">
	
		<!--导航开始-->
			<include file="Public/naodai" />
	
		<!--导航结束-->
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="fc-t">
						<div class="fc-t-t">
							<div class="fc-t-o" id="fid">
								
								<ul>
								<span>分类：</span>
								
								<foreach name="rew" item="v">

									<li class="{:$active['name']==$v['name']?'actives':''}">
										<a  href='{:U('ketangshow?id='.$v['cate_id'])}' style="{:$active['name']==$v['name']?'color:#fff':''}">{$v.name}</a>
									</li>
								</foreach>	
								</ul>
							</div>
						</div>
						<div class="line">
							<hr/>
						</div>
						<div class="fc-t-t">
							<div class="fc-t-o" id="zid">
								
								<ul>
								<span>分类：</span>
									
								<foreach name="row" item="v">
									<li class="{:$active['name']==$v['name']?'actives':''}" 
									>
										<a href='{:U('ketanglei?id='.$v['cate_id'])}' style="{:$active['name']==$v['name']?'color:#fff':''}">{$v.name}</a>
									</li>
								</foreach>		
								</ul>
							</div>
						</div>
					</div>

					<div class="fc-c">
						<span>类别：</span>
						<ul>
							<li>
								<a id="zhibo" href="{:U('courses/index')}">直播</a>
							</li>
							<li>
								<a href="{:U('courses/video')}" id="shipin" >视频</a>
							</li>
							<li>
								<a href="{:U('courses/ketang')}" class="actives" id='ketang'>课堂</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="full-c" id="video" style="display:none">
					<foreach name="video" item="vd">
						<div class="col-md-03 edit">
							<a class="thumbnail" href="{:U('courses/course?id='.$vd['video_id'])}">
								<div class="photo">
									<img src="__ROOT__{$vd.img}">
								</div>
								<div class="caption">
									<p>{$vd.name}</p>
									<eq name="vd.money" value="0">
													<span class="subhead-titie">免费</span>
													<else/>
													<span class="subhead-titie" style="color:#ff9933">{$vd.money}</span>
													</eq>
													<span class="subhead-titie" style="float: right;color:#999">{$vd.number}人购买</span>
									<div class="pull-right">
										<span class="video-label-item label-color-0">视频</span>
									</div>
								</div>
							</a>
						</div>
					</foreach>
					</div>

				</div>

			</div>
			<div class="row" >
				<div class="col-md-12">

					<div class="full-c" id="kecheng" style="display:block">
					<foreach name="class" item="vc">
						<div class="col-md-03 edit">
							<a class="thumbnail" href="{:U('student?id='.$vc['user_id'])}">
							<if condition="$vc.img neq null">
								<div class="photo">
									<img src="__ROOT__{$vc.img}">
								</div>
							<else/>
							    <div class="photo">
									<img src="__PUBLIC__/Home/saibangzi/img/fengmian.png">
								</div>
							</if>
								<div class="caption">
									<p>{$vc.name}</p>
									
													<!-- <span class="subhead-titie">免费</span> -->
													
									<div class="pull-right">
										<span class="video-label-item label-color-0">课堂</span>
									</div>
								</div>
							</a>
						</div>
					</foreach>
					</div>

				</div>
				</div>
			<div class="row" >
				<div class="col-md-12">

					<div class="full-c" id="live" style="display:none">
					<foreach name="live" item="vl">
						<div class="col-md-03 edit" >
							<a class="thumbnail" href="{:U('courses/course?pid='.$vl['liveb_id'])}">
								<div class="photo">
									<img src="__ROOT__{$vl.img}">
								</div>
								<div class="caption">
									<p>{$vl.name}</p>
								<eq name="vl.money" value="0">
													<span class="subhead-titie">免费</span>
													<else/>
													<span class="subhead-titie" style="color:#ff9933">{$vl.money}</span>
													</eq>
									<div class="pull-right">
										<span class="video-label-item label-color-0">直播</span>
									</div>
								</div>
							</a>
						</div>
					</foreach>
					</div>

				</div>
			</div>
			<div class="row margin0">
				<div class="pagination-self">
					<ul>
						<li id='one' class="fenye">
							{$show1}
						</li>
					
					</ul>
				</div>
			</div>
			<!-- <div class="row margin0">
				<div class="pagination-self">
					<ul>
						<li id='two' style="display:none" class="fenye">
							{$show2}
						</li>
					
					</ul>
				</div>
			</div>
			<div class="row margin0" >
				<div class="pagination-self">
					<ul>
						<li id='three' style="display:none" class="fenye">
							{$show3}
						</li>
						
					</ul>
				</div>
			</div>
			 -->
			<!-- 返回顶部开始 -->
			<div>
				<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)">1<div class="moquu_wxinh"></div></a></div>
				<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">2<div class="moquu_wshareh"></div></a></div>
				<a id="moquu_top" href="javascript:void(0)"></a>
			</div>
			<!-- 返回顶部结束 -->

			<!--页脚开始-->
			<include file="Public/jiaoyazi" />
			
			<!--页脚结束-->
			<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
			<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
			<script src="__PUBLIC__/Home/saibangzi/plugins/boostrap/js/bootstrap.min.js"></script>
			<script>
				/*$('#zhibo').click(function(){
					$('#live').css('display','block');
					$('#kecheng').css('display','none');
					$(this).addClass("actives");
					$('#video').css('display','none');
					$('#one').css('display','block');
					$('#two').css('display','none');
					$('#three').css('display','none');
					$('#shipin').removeClass('actives')
					$('#ketang').removeClass('actives')

				})
				$('#shipin').click(function(){
					$('#live').css('display','none');
					$('#kecheng').css('display','none');
					$('#video').css('display','block');
					$('#one').css('display','none');
					$(this).addClass("actives");
					$('#zhibo').removeClass('actives')
					$('#ketang').removeClass('actives')
					$('#two').css('display','block');
					$('#three').css('display','none');
				})
				$('#ketang').click(function(){
					$('#live').css('display','none');
					$('#kecheng').css('display','block');
					$('#video').css('display','none');
					$(this).addClass("actives");
					$('#one').css('display','none');
					$('#two').css('display','none');
					$('#three').css('display','block');
					$('#zhibo').removeClass('actives')
					$('#shipin').removeClass('actives')
				})*/
				
				$('#outlogin').click(function(){
						var a=$('#session').val();
						$.post('{:U('Login/outlogin')}',{'session':a},function(data){
							if(data=='退出成功'){
							alert('退出登录！');window.location.href="{:U('index/index')}";}
						})
						
					})
				$('.fenye .next').html('下一页');
$('.fenye .prev').html('上一页');
			</script>
	</body>
	
</html>
