<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>

		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/per-data/per-data.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/per-data/my-account.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/layer/theme/default/layer.css" />
		<title>个人资料</title>
	</head>
<style>
.fenye{
	height:30px;
	margin-top:20px;
	margin-left:30%;

}
.fenye div{
	margin-left:30%;
}
.fenye span{
	color: #fff;
	background-color: #00d3d4;
	border:1px solid #00d3d4;
	padding:5px 10px;
}
.fenye a{
	color:#bbb;
	padding:5px 10px;
}
.fenye a:hover{
	color: #fff;
	background-color: #00d3d4;
}
	.sign-out{
		    background: #ccc;
		    color: white;
		    font-size: 18px;
		    line-height: 36px;
		    width: 100px;
		    height: 36px;
		    text-align: center;
		    vertical-align: middle;
		    display: inline-block;
		    border-radius: 6px;
		}
		
		.sign-out span{
			font-size: 16px;
			color: #FFFFFF;
		}
		
</style>
	<body class="bg-f8">
		<include file="Public/naodai" />

		<div class="container-fluid">
			<div class="row">
				<div class="perd-t">
					<div class="container position_rel">
						<div class="row">
							<div class="img-bg"></div>
							<img src="__ROOT__{$user.image}" class="img-p" />
							<div class="inform">
								<div class="name">
									<span>{$name} </span>
									<i class="iconfont" id="sexicon">&#xe76e;</i>
								<input type="hidden" value="{$user.sex}" id="sex">	
								</div>
								<div class="autograph" style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
									<span>{$user.profile}</span>
								</div>
								<if condition="$sign_status eq 1">
								<a class="sign-out">
									<span>已签到</span>
								</a>
								<else />
								<a class="sign-up" onclick="sign()">
									<span>签到</span>
								</a>
								</if>
							</div>
							<div class="integral">
								<p>{$user.integral}</p>
								<span>&nbsp;积分</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container margin_t50">

				<div class="col-md-3-a bg-white">
					<ul class="u-nav" id="user_menu">
						<li class="item" id="user_menu_my" name="user_menu_my">
							<ul class="sub">
								<li>
									<i class="iconfont ">&#xe638;</i>
									<a href="{:U('Me/index')}">个人资料</a>
									<i class="iconfont ">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont"> &#xe601;</i>
									<a href="{:U('Me/subscribe')}">我的收藏</a>
									<i class="iconfont">&#xe607;</i>
								</li>

								<li>
									<i class="iconfont"> &#xe615;</i>
									<a href="{:U('Me/course')}">我的课程</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont current"> &#xe6e5;</i>
									<a href="{:U('Me/account')}"  class="current">我的账户</a>
									<i class="iconfont current">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont"> &#xe639;</i>
									<a href="{:U('Me/order')}">订单管理</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li style="border-bottom: none;">
									<i class="iconfont"> &#xe788;</i>
									<a href="{:U('Me/point')}">我的积分</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li style="border-bottom: none;">
								<i class="iconfont">&#xe683;</i>
								<a href="{:U('Me/address')}">收货地址</a>
								<i class="iconfont">&#xe607;</i>
							</li>
							</ul>
						</li>
					</ul>

				</div>
				<!-- /.u-menu -->
				<div class="col-md-9-a bg-white">
					<div class="panel-t">
						<div class="line-g"></div>
						<p>我的账户</p>
					</div>
					<hr />
					<div>
					<div class="acc-l">
						<div class="margin_b10">
							<span>可用约课币：</span>
							<img src="__PUBLIC__/Home/saibangzi/img/ykb.png" />　<span style="display: inline-block;width: 80px">{$user.money}</span>

							<a class="btn btn-withdrawal" href="{:U('chongzhi')}" role="button">充值</a>
						</div>
						<if condition="$class neq null">
						<div>
							<span>　我的收益：</span>
							<i class="iconfont icon-xt">&#xe613;</i>　<span style="display: inline-block;width: 80px;margin-left: 2px;">{$class.profit}</span>
							<if condition="$pay eq null">
							<a class="btn btn-withdrawal" href="#" role="button" onclick="myLogin()">提现</a>
							
							<elseif condition="$class['profit'] lt 100"/>
							<a class="btn btn-withdrawal" onclick="tixian()" role="button">提现</a>
							<elseif condition="$tixian gt $time"/>
							<a class="btn btn-withdrawal" onclick="qi()" role="button">提现</a>
							<else/>
							<a class="btn btn-withdrawal" href="{:U('tixian')}" role="button">提现</a>
							</if>
						</div>
						</if>
					</div>
					<div class="acc-r">
						<span>这里可以查看您的银行卡信息哦。</span>
						<a class="btn btn-withdrawal" href="{:U('idcard')}" role="button">查看我的银行卡</a>
					</div>
				</div>


					<div class="panel-t">
						<div class="line-g"></div>
						<p>密码（未设置）</p>
					</div>
					<hr />
					<div class="per-data-b padding_t10">
						<form class="form-horizontal">
							<div class="form-horizontal-l">
								<i class="iconfont">&#xe60e;</i>
							</div>
							<div class="form-horizontal-r">
								<p style="">支付密码</p>
								<span style="">用于保护账号信息和登录安全</span>
							</div>
							<div class="form-horizontal-b">
								<a class="modify" id="change-1">
								<span>修改</span>
							</a>
							</div>
						</form>
					</div>
				
					<hr />
					<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-2 change-1">
					<form class="form-horizontal p-tb-20">
						<div class="form-group">
							<label class="col-sm-4 control-label">原密码：</label>
							<div class="col-sm-4">
								<input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" maxlength="6" name="orpassw" class="form-control" p="/^\d{6}$/" type="password">
								<span class="ps-1"></span>
							</div>
							<div class="col-sm-4">
							<a href="{:U('Me/mima')}">
								<small class="r-p-w">找回支付密码</small>
								</a>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">新密码：</label>
							<div class="col-sm-8">
								<input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" maxlength="6" name="newpassw" class="form-control" p="/^\d{6}$/" type="password">
								<span class="ps-2">密码由六位数字组成</span>

							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label">再次输入新密码：</label>
							<div class="col-sm-8">
								<input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" maxlength="6" name="compassw" class="form-control" p="/^\d{6}$/" type="password">
								<span class="ps-3">两次密码不同</span>

							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-10 padding10">
								<button type="button" class="btn btn-warning" id="change-1-1">取消</button>
								<button type="button" class="btn btn-success" id="zhifu">确定</button>
							</div>
						</div>

					</form>

				</div>
					<div class="per-data-b padding_t10">
						<form class="form-horizontal">
							<div class="form-horizontal-l">
								<i class="iconfont">&#xe60e;</i>
							</div>
							<div class="form-horizontal-r">
								<p style="">登录密码</p>
								<span style="">用于保护账号信息和登录安全</span>
							</div>
							<div class="form-horizontal-b">
								<a class="modify" id="change-2">
								<span>修改</span>
							</a>
							</div>
						</form>
					</div>
					<hr/>
					<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-2 change-2">
					<form class="form-horizontal p-tb-20">
						<div class="form-group">
							<label class="col-sm-4 control-label">原密码：</label>
							<div class="col-sm-4">
								<input maxlength="16" name="orpassw1" class="form-control" p="/^{5,17}$/" type="password">
								<span class="ps-1-1"></span>
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">新密码：</label>
							<div class="col-sm-8">
								<input maxlength="16" name="newpassw2" class="form-control" p="/^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-A0-9]{6,18}$/" type="password">
								<span class="ps-2-2" >密码由6~16位数字和字母组成</span>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">再次输入新密码：</label>
							<div class="col-sm-8">
								<input maxlength="16" name="compassw2" class="form-control" p="/^\d{6}$/" type="password">
								<span class="ps-3-3">两次密码不同</span>

							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-10" style="padding: 10px;">
								<button type="button" class="btn btn-warning" id="change-2-2">取消</button>
								<button type="button" class="btn btn-success" id="denglu">确定</button>
							</div>
						</div>

					</form>

				</div>
					<div class="p-c"></div>
					<div class="jymx">
						<div class="panel-t">
							<div class="line-g"></div>
							<p>交易明细</p>
						</div>
						<hr />
						<div>
							<div class="table-responsive" style="padding: 10px;">
								<table class="table">
								<foreach name="payrel" item="val">
									<tr>
										<td>{$val.source}</td>
										<td>{:$val['type']=='1'?'+'.$val['income']:'-'.$val['pay']}</td>
										<td>{$val.time}</td>
									</tr>
								</foreach>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9-a  fenye">{$page}</div>
		</div>
		<!--个人资料-->
		<!-- 返回顶部开始 -->
		<div>
			<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)">1<div class="moquu_wxinh"></div></a></div>
			<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">2<div class="moquu_wshareh"></div></a></div>

			<a id="moquu_top" href="javascript:void(0)"></a>
		</div>
		<!-- 返回顶部结束 -->

		<include file="Public/jiaoyazi" />

		<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/per-data/per-data.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/per-data/my-account.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/plugins/layer/layer.js"></script>
<script>
var a=$('#sex').val();
if(a=='男'){
	$('#sexicon').html('&#xe76d;');
}else{
	$('#sexicon').html('&#xe62d;');
}

function myLogin() {
				layer.confirm('您还没有绑定银行卡，绑定后才可以提现，是否前往绑定？', {
					btn: ['确定', '取消']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('bangding')}";
				})
			}
			
function sign(){
	$.ajax({
		type:'post',
		url:"{:U('Me/sign')}",
		success:function(date){
			if(date=='200'){
				alert('签到成功');
				window.location.href="javascript:location.replace(location.href);"	
			}else if(date=='202'){
				alert('网络异常');
			}else{
				alert('今日已签到');
			}
		},
		error:function(err){
			alert('网络异常');
		}
	});
}


$('.fenye .next').html('下一页');
$('.fenye .prev').html('上一页');
$('#outlogin').click(function(){
						var a=$('#session').val();
						$.post('{:U('Login/outlogin')}',{'session':a},function(data){
							if(data=='退出成功'){
							alert('退出登录！');window.location.href="{:U('index/index')}";}
						})
						
					})
$('[name=orpassw]').blur(function(){
		//得到用户输入内容
		var v = $(this).val();
		
		f3=false;
			
			var t = $(this);
			
			$.post("{:U('yangzhi')}",{'ypass':v},function(data){
				if(data=='密码正确'){
					//成功 
					t.css('borderColor','green');
					t.next().html('原密码正确');
					t.next().css('color','green');
					f3 = true;
				}else{
					//重复
					//没通过正则
					//alert(data);
					t.css('borderColor','red');
					t.next().html('密码错误');
					t.next().css('color','red');
					f3 = false;
				}
			})
		
	})

function tixian() {
				layer.confirm('您的收益不足100，不能提现', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
		function qi() {
				layer.confirm('您的上次提现不足一周', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
function zhifu() {
				layer.confirm('密码修改成功', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
		function zhishi() {
				layer.confirm('密码修改失败', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
		function kong() {
				layer.confirm('密码不能为空', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
$('#zhifu').click(function(){
	var pass=$('[name=newpassw]').val();
	
	if(pass==''|| f3==false || f2==false || f1==false){
		return false;
	}
	$.post("{:U('xiuzhi')}",{'xpass':pass},function(data){
		if(data=='修改成功'){
			zhifu();
		}
	})
})
$('[name=orpassw1]').blur(function(){
		//得到用户输入内容
		var v = $(this).val();
		
		f3=false;
			
			var t = $(this);
			//alert(v);
			$.post("{:U('yanglu')}",{'ypass':v},function(data){
				if(data=='密码正确'){
					//成功 
					t.css('borderColor','green');
					t.next().html('原密码正确');
					t.next().css('color','green');
					f3 = true;
				}else{
					//重复
					//没通过正则
					//alert(data);
					t.css('borderColor','red');
					t.next().html('密码错误');
					t.next().css('color','red');
					f3 = false;
				}
			})
		
	})
function denglu() {
				layer.confirm('密码修改成功,请重新登录', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Login/index')}";
				})				
		}
		function lushi() {
				layer.confirm('密码修改失败', {
				btn: ['确定']
				}, function(index) {
					layer.close(index);
					location.href = "{:U('Me/index')}";
				})				
		}
$('#denglu').click(function(){
	var pass=$('[name=newpassw2]').val();

	if(pass=='' || f3==false || f2==false || f1==false){
		return false;
	}
	$.post("{:U('xiulu')}",{'xpass':pass},function(data){
		if(data=='修改成功'){
			denglu();
		}
	})
})
</script>
	</body>

</html>