<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/per-data/per-data.css" />
		<title>订单管理</title>

	</head>
<style>
.fenye{
	height:30px;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:20%;

}

.fenye div{
	margin-left:40%;
}
.fenye span{
	color: #fff;
	background-color: #00d3d4;
	border:1px solid #00d3d4;
	padding:5px 10px;
}
.fenye a{
	color:#bbb;
	padding:5px 10px;
}
.fenye a:hover{
	color: #fff;
	background-color: #00d3d4;
}
	.sign-out{
		    background: #ccc;
		    color: white;
		    font-size: 18px;
		    line-height: 36px;
		    width: 100px;
		    height: 36px;
		    text-align: center;
		    vertical-align: middle;
		    display: inline-block;
		    border-radius: 6px;
		}
		
		.sign-out span{
			font-size: 16px;
			color: #FFFFFF;
		}
</style>
	<body class="bg-f8">
		<include file="Public/naodai" />

		<div class="container-fluid">
			<div class="row">
				<div class="perd-t">
					<div class="container position_rel">
						<div class="row">
							<div class="img-bg"></div>
							<img src="__ROOT__{$user.image}" class="img-p" />
							<div class="inform">
								<div class="name">
									<span>{$name} </span>
									<i class="iconfont" id="sexicon">&#xe76e;</i>
								<input type="hidden" value="{$user.sex}" id="sex">	
								</div>
								<div class="autograph" style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
									<span>{$user.profile}</span>
								</div>
								<if condition="$sign_status eq 1">
								<a class="sign-out">
									<span>已签到</span>
								</a>
								<else />
								<a class="sign-up" onclick="sign()">
									<span>签到</span>
								</a>
								</if>
							</div>
							<div class="integral">
								<p>{$user.integral}</p>
								<span>&nbsp;积分</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container margin_t50">
			<div class="col-md-3-a bg-white">
				<ul class="u-nav" id="user_menu">
					<li class="item" id="user_menu_my" name="user_menu_my">
						<ul class="sub">
							<li>
								<i class="iconfont ">&#xe638;</i>
								<a href="{:U('Me/index')}">个人资料</a>
								<i class="iconfont ">&#xe607;</i>
							</li>
							<li>
								<i class="iconfont"> &#xe601;</i>
								<a href="{:U('Me/subscribe')}">我的收藏</a>
								<i class="iconfont">&#xe607;</i>
							</li>

							<li>
								<i class="iconfont current"> &#xe615;</i>
								<a href="{:U('Me/course')}"  class="current">我的课程</a>
								<i class="iconfont current">&#xe607;</i>
							</li>
							<li>
								<i class="iconfont"> &#xe6e5;</i>
								<a href="{:U('Me/account')}">我的账户</a>
								<i class="iconfont">&#xe607;</i>
							</li>
							<li>
								<i class="iconfont"> &#xe639;</i>
								<a href="{:U('Me/order')}">订单管理</a>
								<i class="iconfont">&#xe607;</i>
							</li>
							<li style="border-bottom: none;">
								<i class="iconfont"> &#xe788;</i>
								<a href="{:U('Me/point')}">我的积分</a>
								<i class="iconfont">&#xe607;</i>
							</li>
							<li style="border-bottom: none;">
								<i class="iconfont">&#xe683;</i>
								<a href="{:U('Me/address')}">收货地址</a>
								<i class="iconfont">&#xe607;</i>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="col-md-9-a bg-white">
				<div class="panel-t">
					<div class="line-g"></div>
					<p>我的课程</p>
				</div>
				<hr />
				<div class="tab">
					<ul class="tab-hd border-no">
						<li><a href="{:U('Me/course')}"><span>直播列表</span></a></li>
						<li class="active color"><a href="{:U('Me/course_video')}"><span>视频列表</span></a></li>
					</ul>
					<ul class="tab-bd margin_b0">
						<li class="thisclass padding0">
						<foreach name="video" item="val">
						
							<div class="collect">
								<div class="collect-l">
									<img src="__ROOT__{$val.video_list.img}" />
								</div>
								<div class="collect-r">
									<p>{$val.video_list.name}</p>
									<eq name="val.video_list.money" value="0">
									<a>免费</a>
									<else/>
									<a>{$val.video_list.money}</a>
									</eq>
									<span class="open-time">上传时间：{$val.video_list.time}</span>
									<s></s>
								</div>
								<div class="cancel">
									<a href="{:U('player?id='.$val['video_list']['video_id'])}">
									<p>开始学习</p></a>
								</div>
							</div>
						
						</foreach>
						</li>
					</ul>
				</div>
	
			</div>
		</div>
<div class="col-md-12-a  fenye">{$page}</div>
		<!-- 返回顶部开始 -->
		<div>
			<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)">1<div class="moquu_wxinh"></div></a></div>
			<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">2<div class="moquu_wshareh"></div></a></div>
			<a id="moquu_top" href="javascript:void(0)"></a>
		</div>
		<!-- 返回顶部结束 -->

		<include file="Public/jiaoyazi" />

		<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/per-data/per-data.js"></script>
		<script>
			// tab切换js		
			// $(function() {
			// 	function tabs(tabTit, on, tabCon) {
			// 		$(tabTit).children().click(function() {
			// 			$(this).addClass(on).siblings().removeClass(on);
			// 			var index = $(tabTit).children().index(this);
			// 			$(tabCon).children().eq(index).show().siblings().hide();
			// 		});
			// 	};
			// 	tabs(".tab-hd", "active", ".tab-bd");
			// });
		</script>
<script>
var a=$('#sex').val();
if(a=='男'){
	$('#sexicon').html('&#xe76d;');
}else{
	$('#sexicon').html('&#xe62d;');
}

$('.fenye .next').html('下一页');
$('.fenye .prev').html('上一页');
$('#outlogin').click(function(){
						var a=$('#session').val();
						$.post('{:U('Login/outlogin')}',{'session':a},function(data){
							if(data=='退出成功'){
							alert('退出登录！');window.location.href="{:U('index/index')}";}
						})
						
					})
function sign(){
	$.ajax({
		type:'post',
		url:"{:U('Me/sign')}",
		success:function(date){
			if(date=='200'){
				alert('签到成功');
				window.location.href="javascript:location.replace(location.href);"	
			}else if(date=='202'){
				alert('网络异常');
			}else{
				alert('今日已签到');
			}
		},
		error:function(err){
			alert('网络异常');
		}
	});
}

</script>
	</body>

</html>