<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/submit-order.css" />
		<title>忘记支付密码</title>
		<style>
			
		</style>
	</head>

	<body class="bg-f8">
		<!--导航开始-->
		<div class="container-fluid bg-white p-10">
			<div class="container bg-white">
				<div class="nav-a">
					<img src="__PUBLIC__/Home/saibangzi/img/logo.jpg" />
				</div>

				<div class="nav-b">
					<a>忘记支付密码</a>
				</div>
				<div class="nav-r">
					<a>你好，欢迎来到网约课&nbsp;&nbsp;|&nbsp;&nbsp;<i class="glyphicon glyphicon-earphone">400-0063088</i></a>
				</div>

			</div>
		</div>
		<!--导航结束-->

		<div class="container margin_t50">

			<div class="row s-p-b">
				<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-2">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">手机号：</label>
							<div class="col-sm-4">
								<input name="v-code" class="form-control"  id="huiphone">
								<small class="fp-t1"></small>
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">验证码：</label>
							<div class="col-sm-4">
								<input name="v-code" class="form-control" id="huiverify">
								
							</div>
							<div class="col-sm-4">
								<!--<button id="btnSendCode"  type="button" class="btn btn-warning" onClick="sendMessage()>获取验证码</button>-->
								<input id="btnSendCode" type="button" value="获取验证码"/>
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">密码：</label>
							<div class="col-sm-7">
								<input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" name="password" id="huipass" class="form-control" maxlength="6" p="/^\d{6}$/" type="password">
								<span class="fp-t2"></span>
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">再次输入密码：</label>
							<div class="col-sm-7">
								<input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" name="once-passw" class="form-control" maxlength="6" p="/^\d{6}$/" type="password">
								<span class="fp-t3"></span>

							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-10">
								<button class="btn btn-success" id="hui">确定</button>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!--页脚开始-->
		<div class=" bg-white margin_t50">
			<div class="container footer">
				<div class="footer-top">
					<span>联系我们</span>
					<span>|</span>
					<a href="{:U('feedback/index')}">
						<span>意见反馈</span>
						</a>
					<span>|</span>
					<span>常见问题</span>
					<span>|</span>
					<span>服务协议</span>
					<span>|</span>
					<span>关于我们</span>
				</div>
				<div class="footer-bottom">
					<span>© 2017 imooc.com  京ICP备 13046642号-2</span>
				</div>
			</div>
		</div>

		<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/forget-password.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
		<script>
		$('#huiphone').blur(function(){
		//得到用户输入内容
		var v = $(this).val();
		var x = $(this);
		//alert(v);
		$.post("{:U('yanzheng')}",{'phone':v},function(data){
				if(data == 1){
					//成功 
					x.css('borderColor','green');
					x.next().html('手机号正确');
					x.next().css('color','green');
					f3 = true;
				}else{
					//重复
					//没通过正则
					//alert(data);
					x.css('borderColor','red');
					x.next().html('手机号不是该用户绑定手机号');
					x.next().css('color','red');
					f3 = false;
				}
			})
		
	})
		$('#btnSendCode').click(function(){
      var tel = $('#huiphone').val();
      //alert(tel);
      $.post('{:U('Verify/verify')}', {'phone':tel},function(data){
       //alert(data);
      
        if(data=='发送成功'){
        	 sendMessage();
       	alert('发送成功');
       }else{
     	 alert(data);
        }
      });
    });
		$('#hui').click(function(){
		var phone=$('#huiphone').val();
		var verify=$('#huiverify').val();
		var pass=$('#huipass').val();
		if(f1 && f2 && f3){
					
				

		$.post("{:U('Me/mima')}", {'phone':phone,'pass':pass,'verify':verify},function(data){
        if(data=='修改成功'){
        	alert('修改成功!');
       	  window.location.href="{:U('Me/index')}";
       }else{
       	 alert(data);
     	 window.location.href="{:U('Me/index')}";
        }
      });
	}return false;
	})
		</script>

	</body>

</html>