<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/boostrap/css/bootstrap.min.css" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/saibangzi/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/icon-font/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/css/per-data/per-data.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/saibangzi/plugins/zcity/css/zcity.css" />

		<title>个人资料</title>
	</head>
<style>
	.sign-out{
		    background: #ccc;
		    color: white;
		    font-size: 18px;
		    line-height: 36px;
		    width: 100px;
		    height: 36px;
		    text-align: center;
		    vertical-align: middle;
		    display: inline-block;
		    border-radius: 6px;
		}
		
		.sign-out span{
			font-size: 16px;
			color: #FFFFFF;
		}
		
</style>
	<body class="bg-f8">
		<include file="Public/naodai" />

		<!--公用开始-->

		<div class="container-fluid">
			<div class="row">
				<div class="perd-t">
					<div class="container position_rel">
						<div class="row">
							<div class="img-bg"></div>
							<img src="{$user.image}" class="img-p" />
							<div class="inform">
								<div class="name">
									<span>{$name}</span>
									<i class="iconfont" id="sexicon1">&#xe76e;</i>
								</div>
								<div class="autograph" style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
									<span>{$user.profile}</span>
								</div>
								<if condition="$sign_status eq 1">
								<a class="sign-out">
									<span>已签到</span>
								</a>
								<else />
								<a class="sign-up" onclick="sign()">
									<span>签到</span>
								</a>
								</if>
							</div>
							<div class="integral">
								<p>{$user.integral}</p>
								<span>&nbsp;积分</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container margin_t50">

				<div class="col-md-3-a bg-white">
					<ul class="u-nav" id="user_menu">
						<li class="item" id="user_menu_my" name="user_menu_my">
							<ul class="sub">
								<li>
									<i class="iconfont current">&#xe638;</i>
									<a href="{:U('Me/index')}" class="current">个人资料</a>
									<i class="iconfont current">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont"> &#xe601;</i>
									<a href="{:U('Me/subscribe')}">我的收藏</a>
									<i class="iconfont">&#xe607;</i>
								</li>

								<li>
									<i class="iconfont"> &#xe615;</i>
									<a href="{:U('Me/course')}">我的课程</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont"> &#xe6e5;</i>
									<a href="{:U('Me/account')}">我的账户</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li>
									<i class="iconfont"> &#xe639;</i>
									<a href="{:U('Me/order')}">订单管理</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li style="border-bottom: none;">
									<i class="iconfont"> &#xe788;</i>
									<a href="{:U('Me/point')}">我的积分</a>
									<i class="iconfont">&#xe607;</i>
								</li>
								<li style="border-bottom: none;">
								<i class="iconfont">&#xe683;</i>
								<a href="{:U('Me/address')}">收货地址</a>
								<i class="iconfont">&#xe607;</i>
							</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="col-md-9-a bg-white">
					<div class="panel-t">
						<div class="line-g"></div>
						<p>个人资料</p>
					</div>
					<hr />

					<div class="per-data">
						<form class="form-horizontal">

							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label padding_t30">头像</label>
								<div class="col-md-4">
									<div class="up-img-cover" id="up-img-touch">
										<img class="am-circle" alt="点击图片上传" src="{$user.image}" data-am-popover="{content: '更换头像', trigger: 'hover focus'}">
									</div>
								</div>
								<div class="col-md-5">
									<a href="{:U('Me/edit')}" class="edit-pd"><i class="iconfont" >&#xe633;</i>编辑</a>
								</div>
							</div>
							
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">昵称</label>
								<div class="col-md-4">
									<label class="control-label-9">{$name}</label>
								</div>

							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">性别</label>
								<div class="col-md-8">
									<div class="female">
										<i class="iconfont" id="sexicon">&#xe76d;</i>
										<span class="control-label-9" id='sex'>{$user.sex}</span>
									</div>

								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">地址</label>
								<div class="col-md-8">
									<label for="inputPassword" class="control-label-9">{$user.address}</label>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">个人简介</label>
								<div class="col-md-6">
									<div class="p-profile">
										<span>{$user.profile}</span>
									</div>
								</div>
						
						</div>
						<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">推荐链接</label>
								<div class="col-md-6">
									<div class="p-profile">
										<span>{$time}</span>
									</div><p style="color:red">可以分享给好友呦</p>
								</div>
						
						</div>
						</form>
					</div>
				</div>
		</div>

		<!-- 返回顶部开始 -->
		<div>
			<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)">1<div class="moquu_wxinh"></div></a></div>
			<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">2<div class="moquu_wshareh"></div></a></div>
			<a id="moquu_top" href="javascript:void(0)"></a>
		</div>
		<!-- 返回顶部结束 -->

		<include file="Public/jiaoyazi" />
			
		<script src="__PUBLIC__/Home/saibangzi/js/jquery-2.1.0.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/per-data/per-data.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/plugins/zcity/js/zcity.js"></script>
		<script src="__PUBLIC__/Home/saibangzi/js/index.js"></script>
<script>
var a=$('#sex').html();
if(a=='男'){
	$('#sexicon').html('&#xe76d;');
	$('#sexicon1').html('&#xe76d;');
}else{
	$('#sexicon').html('&#xe62d;');
	$('#sexicon1').html('&#xe62d;');
}


function sign(){
	$.ajax({
		type:'post',
		url:"{:U('Me/sign')}",
		success:function(date){
			if(date=='200'){
				alert('签到成功');
				window.location.href="javascript:location.replace(location.href);"	
			}else if(date=='202'){
				alert('网络异常');
			}else{
				alert('今日已签到');
			}
		},
		error:function(err){
			alert('网络异常');
		}
	});
}
$('#outlogin').click(function(){
						var a=$('#session').val();
						$.post('{:U('Login/outlogin')}',{'session':a},function(data){
							if(data=='退出成功'){
							alert('退出登录！');window.location.href="{:U('index/index')}";}
						})
						
					})
</script>
	</body>

</html>